@model Kebele.Models.Citizen
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<h4>Citizen</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success alert-danger">

                    <strong>Error!</strong> @ViewBag.Message
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="SSN" class="form-control" value="100000000" />

            <div class="form-group">
                <label asp-for="First_Name" class="control-label"></label>
                <input asp-for="First_Name" class="form-control" />
                <span asp-validation-for="First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mid_Name" class="control-label"></label>
                <input asp-for="Mid_Name" class="form-control" />
                <span asp-validation-for="Mid_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_Name" class="control-label"></label>
                <input asp-for="Last_Name" class="form-control" />
                <span asp-validation-for="Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blood_Type" class="control-label"></label>
                <select asp-for="Blood_Type" class="form-control " asp-items="@Kebele.Utility.Helper.GetBloodType()">
                    <option value="">--Please Select Blood Type--</option>
                </select>
                <span asp-validation-for="Blood_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
